node_modules/
dist/
out-tsc/
.angular/
.vscode/
*.log
.idea/
coverage/
tmp/
temp/
npm-debug.log*
.DS_Store
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.orig
*.patch
*.rej
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.iml
*.db
*.sqlite
*.sublime-*
*.code-workspace